<div class="container">
    <div class="row">
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/homelife.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> Ev & Yaşam kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/home.JPG">
  
        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/mancosmetic1.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme">  Kozmetik kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/mancosmetic.JPG">
  
        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/manshoe.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme">  Ayakkabı & Çanta kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/manshoebag.jpg">
  
        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/manaccessory.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> Aksesuar kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/manaccessories.jpg">
  
        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/electronic1.png" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> Elektronik kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/manelectronic.gif">
  
        </div>
        
       
    </div>
  </div>