<div class="container">
    <div class="row">
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childhomelife.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> Ev & Yaşam kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/childhome.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childcosmetic.png" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme">  Kozmetik kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/childcosmetic1.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childshoesbag.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme">  Ayakkabı & Çanta kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/childshoe.gif">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childaccessory.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> Aksesuar kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/childaccessory1.jpg">

        </div>
        <div class="col-7 box-shadow">
            <img class="colseven" src="assets/childelectronic.jpg" >
            <div class="temp" >           
                    <a href="/homelifecategory" class="deneme"> Elektronik kategorisine gitmek için tıklayınız.</a>
            </div>
        </div>
        <div class="col-3 box-shadow"> 
            <img class="colthree" src="assets/watch.gif">

        </div>
        
       
    </div>
</div>