

 
.box-shadow { margin: 15px}
.temp{
    background-color: black;
}
.temp:hover{
    background-color: orange!important;
}
.deneme{
    color: white;
}
.colseven{
    width:100%;height: 200px;
}
.colthree{
    width: 100%;
    height: 225px;
}