<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card my-4 p-3">
            <div class="row main">
                <div class="col-12"><span>Address</span></div>
            </div>
           <br>
            <form class="form-card">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text" name="name" class="form-control p-0" [(ngModel)]="address.label1"  ><label class="form-control-placeholder p-0" for="name">Address Line 1</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text" name="name" class="form-control p-0" [(ngModel)]="address.label2"  ><label class="form-control-placeholder p-0" for="name">Address Line 2</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text" name="name" class="form-control p-0"  [(ngModel)]="address.city"><label class="form-control-placeholder p-0" for="name">City</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text" name="name" class="form-control p-0"  [(ngModel)]="address.country"><label class="form-control-placeholder p-0" for="name">Country</label> </div>
                    </div>
                </div>
                
               
            </form>
        </div>
        <div class="card my-4 p-3">
            <div class="row main">
                <div class="col-12"><span>Cart</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Shipping confirmation</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Credit card checkout</span></div>
            </div>
            <div class="row justify-content-center mrow">
                <div class="col-12"> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" width="35px" height="35px" /> <img src="https://img.icons8.com/color/48/000000/visa.png" width="35px" height="35px" /> <img src="https://img.icons8.com/color/48/000000/paypal.png" width="35px" height="35px" /> </div>
            </div>
            <form class="form-card">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text"  name="name" class="form-control p-0" id="number" [(ngModel)]="card.CardNumber" required><label class="form-control-placeholder p-0" for="number" >CardNumber</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group"> <input type="text"  name="name" class="form-control p-0" id="name" [(ngModel)]="card.CardholderName" required><label class="form-control-placeholder p-0" for="name">Cardholder'sName</label> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="text"  name="name" class="form-control p-0" id="sdate"  [(ngModel)]="card.StartDate" required><label class="form-control-placeholder p-0" for="sdate" >StartDate</label> </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="text"  name="name" class="form-control p-0" id="expdate" [(ngModel)]="card.ExpirationDate" required><label class="form-control-placeholder p-0" for="expdate" >ExpirationDate</label> </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="form-group"> <input type="password"  name="name"  class="form-control p-0" id="passw" [(ngModel)]="card.CVV" required><label class="form-control-placeholder p-0" for="passw" >CVV</label> </div>
                    </div>
                </div>
                <div class="row lrow mt-4 mb-3">
                    <div class="col-sm-8 col-12">
                        <h3>Grand Total:</h3>
                    </div>
                    <div class="col-sm-4 col-12">
                        <h5>&#36;{{grandtotal}}</h5>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12"> <button (click)="confirmPayment()" type="button" class="btn btn-primary btn-block">Pay</button> </div>
                </div>
            </form>
        </div>
    </div>
    
</div>